@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Macondo&display=swap');

div {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body, html{
  margin: 0;
  padding: 0;
}

/** base colour setting*/
body{
  background-color: #DADDD8;
}

/** button colour and font setting*/
.btn{
  background-color: #4B5842;
  color: white;
  border: none;
}

/** navbar colour setting*/
.navbar{
  background-color: #8FB339;
}

/** footer colour setting*/
.fixed-bottom{
  background-color: #B7CE63;
}

.Bins {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: #333;
}

.refresh {
  background-color: rgb(0, 200, 255);
  border: none;
}

.goback {
  background-color: rgb(0, 200, 255);
  border: none;
}

h1 {
  text-align: center;
  margin-top: 15px;
}

.postButton,
a {
  color: white;
}

#filtered-bins-container,
#available-bins-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#my-posts-container, #my-favourites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.card {
  margin: 10px;
}

  /* Adjust margin as needed */
  a {
    text-decoration: none;
    color: #333;
  }

  .refresh {
    background-color: #B7CE63;
    border: none;
  }

  .goback {
    background-color: #B7CE63;
    border: none;
  }

  h1 {
    text-align: center;
    margin-top: 15px;
  }

  .postButton, a {
    color: white;
  }

  .main-btn-collection button {
    width: 19rem;
    margin-inline: auto;
  }

  @media (max-width:800px) {
    .main-btn-collection button {
      width: 80%;
    }
  }

/**logo reduce whitespace around image*/
.img-thumbnail{
  margin:0px;
  padding:0px;
  border: none;
  max-height: 300px;
}

/**colour for cards on aboutus.html*/
.team-member{
  background-color: #C7D59F;
}

/**colour for card heading on available.html and mybins.html*/
.card-header{
  background-color: #C7D59F;
  text-align: center;
}

.card{
  width: 100%;
  

}
#bininfo{
  margin-bottom: 20px;
}



.card-body{
  text-align: center;
}

#favImg{
  width: 70%;
}

.faveCard{
  width: 90%;
}

.cardBody{
  margin-top: 1rem;
}

.cardTitle{
  margin-bottom: 1rem;
}





