<<<<<<< HEAD

.Bins{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 25px;
}
a{text-decoration: none; color: #333;}
h1{text-align: center;
margin-top: 15px;}
=======
>>>>>>> 45610af3e6ffa63060fa1d0e986b5616ccc81ecb
